<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syntax.android.learn">

  <application
      android:name="com.syntax.android.learn.App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <activity android:name="com.syntax.android.learn.ui.welcome.WelcomeActivity">

    </activity>

    <activity
        android:name="com.syntax.android.learn.ui.login.LoginActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

    <activity
        android:name="com.syntax.android.learn.ui.register.RegisterActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

    <activity
        android:name="com.syntax.android.learn.ui.addJoke.AddJokeActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

    <activity
        android:name="com.syntax.android.learn.ui.main.MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/MainTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>
  </application>
</manifest>